[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/vim-cue"]
	path = bundle/vim-cue
	url = https://github.com/jjo/vim-cue.git
[submodule "pack/vimspector/opt/vimspector/gadgets/linux/download/local-lua-debugger-vscode"]
	path = pack/vimspector/opt/vimspector/gadgets/linux/download/local-lua-debugger-vscode
	url = https://github.com/tomblind/local-lua-debugger-vscode.git
[submodule "pack/vimspector/opt/vimspector/gadgets/linux/download/tclpro"]
	path = pack/vimspector/opt/vimspector/gadgets/linux/download/tclpro
	url = https://github.com/puremourning/TclProDebug
[submodule "pack/vimspector/opt/vimspector/gadgets/linux/download/vscode-node-debug2"]
	path = pack/vimspector/opt/vimspector/gadgets/linux/download/vscode-node-debug2
	url = https://github.com/microsoft/vscode-node-debug2
